.swatch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);
  flex: 0 0 25px;
  height: 25px;
  border-radius: var(--mantine-radius-sm);
}

.check {
  width: 10px;
  height: 10px;
}

.colorControl {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 30px;
  height: 30px;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-4);
  background-color: var(--mantine-color-body);
}
