/*
SPDX-FileCopyrightText: 2026 Humdek, University of Bern
SPDX-License-Identifier: MPL-2.0
*/
.labelContainer {
    width: 100% !important;
    display: flex !important;
}

.labelWrapper {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
} 