.queryBuilder {
    min-height: 300px;
    min-width: 420px;
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-md);
    background-color: var(--mantine-color-white);    
}

/* Styles for when "Use validation" option is selected */
:global(.validateQuery) .queryBuilder {
    & :global(.ruleGroup.queryBuilder-invalid) {
        /* Color invalid groups */
        background-color: color-mix(in srgb, rebeccapurple, transparent 60%);

        & :global(.ruleGroup-addRule) {
            /* Bold the "+ Rule" button if the group has no child rules or groups */
            font-weight: bold !important;
        }

        &>:global(.ruleGroup-body) {
            display: block;
        }

        &>:global(.ruleGroup-body)::after {
            /* Message to user about empty groups */
            content: "Empty groups are considered invalid. Avoid them by using addRuleToNewGroups.";
            color: white;
        }
    }

    & :global(.rule.queryBuilder-invalid) :global(.rule-value) {
        /* Purple background for empty text fields */
        background-color: color-mix(in srgb, rebeccapurple, transparent 60%);

        &::placeholder {
            color: color-mix(in srgb, rebeccapurple, black 30%);
        }
    }
}

/* Dark theme variations for validation */
:global(html[data-theme="dark"]) :global(.validateQuery) .queryBuilder :global(.rule.queryBuilder-invalid) :global(.rule-value)::placeholder {
    color: color-mix(in srgb, rebeccapurple, white 30%);
}

/* Minimum width for all inputs */
.queryBuilder :global(.rule-value input),
.queryBuilder :global(.rule-value select),
.queryBuilder :global(.rule-value .mantine-MultiSelect-input),
.queryBuilder :global(.rule-value .mantine-DatePickerInput-input),
.queryBuilder :global(.rule-fields select),
.queryBuilder :global(.rule-operators select) {
    min-width: 100px !important;
}

.queryBuilder :global(.queryBuilder-branches .rule::after) {
    --rqb-branch-width:1.2px !important;
}

.queryBuilder :global(.queryBuilder-branches .rule::before) {
    --rqb-branch-width: 1.2px !important;
}

.queryBuilder :global(.queryBuilder-branches .ruleGroup::after) {
    --rqb-branch-width:1.2px !important;
}

.queryBuilder :global(.queryBuilder-branches .ruleGroup::before) {
    --rqb-branch-width: 1.2px !important;
}


/* Responsive design */
@media (max-width: 768px) {
    .queryBuilder {
        min-width: 320px;
        padding: var(--mantine-spacing-sm);
    }
}